# __pycache__
**/__pycache__

# Ambiente virtuale Python
/venv_run.ps1
/agent.egg-info
/venv

# Link utili per lo sviluppo
/docs/misc/_dev

# Appunti ICON
/docs/ICON*.docx

# Escludi alcuni moduli di aipython
/agent/libs/aipython/*
!/agent/libs/aipython/searchGeneric.py
!/agent/libs/aipython/searchProblem.py
!/agent/libs/aipython/display.py
!/agent/libs/aipython/aipython.pdf