# __pycache__
**/__pycache__

# Python venv files
#/venv_run.ps1
/agent.egg-info
/venv

# Exclude some aipython modules
/agent/libs/aipython/*
!/agent/libs/aipython/searchGeneric.py
!/agent/libs/aipython/searchProblem.py
!/agent/libs/aipython/display.py
!/agent/libs/aipython/aipython.pdf